body {
  font-family: "Century Gothic";
  padding-top: 130px;
  color: #1877f2;
  background-color: lightblue; 
  position: center;
}

hr.new {
  border: 10px solid #004a15;
   width: 80%;
}

.btn{
  font-family: "Century Gothic";
  font-size: 20px;
  background-color: #00450c; 
  color: white; 
}

.form{
    width: 470px;
    float: center;
    background-color: #127a2f;
    height: 230px;
    padding-top: 9px;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 5px;
    text-align: center;
    box-shadow: 5px 5px 1px black;
}

.form2{
    width: 470px;
    float: center;
    background-color: #127a2f;
    height: 350px;
    padding-top: 9px;
    margin: 0 auto;
    padding-left: 5px;
    text-align: center;
    box-shadow: 5px 5px 1px black;
}

.form1{
    width: 900px;
    float: center;
    background-color: #127a2f;
    height: 270px;
    margin: 0 auto;
    padding-left: 5px;
    box-shadow: 5px 5px 1px black;
}

.text{
    font-family: "Century Gothic";
    width: 450px;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

h3{
    font-family: "Century Gothic";
    width: 450px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: red;
    margin: 0 auto;
    margin-top: 10px;
}

h4{
    font-family: "Century Gothic";
    width: 450px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    color: white;
}


#h{
    font-family: "Century Gothic";
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: black;
    margin: 0 auto;
    margin-top: 150px;
    font-weight: 900;
}

#hh{
    font-family: "Century Gothic";
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 900;
}

#hhh{
    font-family: "Century Gothic";
    width: 90%;
    text-align: center;
    color: black;
    margin: 0 auto;
    font-size: 20px;
}

#hhhh{
    font-family: "Century Gothic";
    text-align: center;
    color: black;
    margin: 0 auto;
}


#code{
    font-family: "Century Gothic";
    width: 450px;
    text-align: center;
    font-size: 100px;
    color: black;
    margin: 0 auto;
    font-weight: 900;
}

p{
    font-family: "Century Gothic";
    width:895px;
    text-align: center;
    font-size: 23px;
    color: black;
    font-size: 20.8px;
    line-height: 30px;

}

address{
    font-family: "Century Gothic";
    width: 900px;
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 0 auto;
}

.a{
    font-family: "Century Gothic";
    width: 900px;
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 0 auto;
}

.aa{
    font-family: "Century Gothic";
    width: 900px;
    text-align: center;
    font-size: 40px;
    color: black;
    margin: 0 auto;
    font-weight: 900;
    margin-top: 10px;
}

#btn1{
    font-family: "Century Gothic";
    margin-top: 1px;    
    background-color: black;
    border-color: black
    }

.p{
    font-family: "Century Gothic";
    width: 450px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: red;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 900;
}

a{
    font-size: 20px;
    font-weight: 900;
    color: black;
}

.input{
    margin-bottom: 10px;
    font-family: "Century Gothic";
    font-size: 20px

}


